body{margin:0;padding:0;text-align: justify;font-family:'Open Sans', sans-serif;font-size:14px;}
h1{font-weight:900;font-size:30px;}
h4{text-transform: uppercase;margin:25px 0 10px 0;font-weight:900;}
a{text-decoration: none;color:#378cfd;}
ol{padding-left:18px;}
ul{list-style: none;}
li{margin:7px 0;}
p{font-size:14px;line-height: 20px;}
hr{display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}