body {
	font-family: sans-serif;
	font-size:14px;
}
ul {
	margin:0;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.absolute-left {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width:250px;
}
.absolute-right {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:250px;
}
.content {
	background-color:#ece8df;
	padding:10px;
	overflow-y: auto;
	overflow-x:hidden;
}
.navigation {
	background-color:#333333;
	color:#ffffff;
}
.navigation .summary {
	padding:0 20px;
	margin:20px 0;
}
.navigation .name {
	font-weight:100;
}
.navigation .description {
	font-size:13px;
}
.navigation .menu {
	list-style: none;
}
.navigation .dp {
	border-radius: 100px;
	width:180px;
	height:180px;
	margin: 20px auto;
	background-repeat: no-repeat;
	background-size: cover;
}
.navigation .menu .menu-item {
	display:block;
	text-decoration: none;
	color:inherit;
	padding:10px 15px;
	border-left:transparent 5px solid;
}
.navigation .menu .menu-item.active {
	border-left:#ffffff 5px solid;
	background-color:#444444;r
}
.navigation .menu .menu-item:hover {
	background-color:#444444;
	border-left:#777777 5px solid;	
	cursor: pointer;
}
content-holder {
	display: block;
	color:#333333;
}
.center {
	text-align: center;
}
.italic {
	font-style: italic;
}
blog-post {
	display: block;
}
blog-post blog-title {
	display:block;
	font-weight:500;
	font-size:56px;
	text-align: center;
	padding:10px 0;
}
blog-post blog-content {
	display:block;
	margin-top:40px;
	text-indent: 10px;
	font-size:16px;
}
blog-post blog-content ul {
	padding:15px 0px 0 50px;
}
blog-post blog-content ul > li {
	margin:5px 0;
}
blog-list {
	display:block;
}
blog-list blog-item {
	display: block;
	padding:10px;
}
blog-list blog-item blog-title a:hover {
	text-decoration: underline;
}
blog-list blog-item blog-title {
	display:block;
	font-weight:500;
	font-size:24px;
	padding:10px 0;	
}
blog-list blog-item blog-title a {
	color:#333333;
	text-decoration: none;
}
tab {
	width:8px;
	display: inline-block;
	padding: 1px 20px;
}